.my-header {
  background-color: rgb(67, 66, 91);
  padding: 12px;
}

#avatar, #logo {
  width: 32px;
  height: 32px;
  border-radius: 10px;
}

#search-input {
  width: 273px;
  font-size: 12px;
  background-color: hsla(0, 0%, 100%, 0.125);
  border: 0;
  box-shadow: none;
  border-radius: 5px;
  padding: 3px 12px;
  color: #ffffff;

  transition-property: width;
  transition-duration: 0.5s;
  transition-timing-function: ease;
}

/* you need something for transition */
#search-input:focus {
  width: 400px;
  outline: none;
  background-color: #ffffff;
  color: black;
}

#search-input::placeholder {
  color: #ffffff;
}

.desktop-header {
  display: flex;
  justify-content: space-between;
}

.desktop-header a {
  text-decoration: none;
  color: #ffffff;
  margin-left: 6px;
}

.desktop-header a:hover {
  opacity: 0.8;
}

@media screen and (max-width: 1024px) {
  .mobile-header {
    display: flex;
    justify-content: space-between;
  }

  .mobile-header > img {
    width: 24px;
    height: 24px;
  }
}
