.repo-info {
  margin-top: 16px;
}

.info-btn{
  display: inline-block;
  border: 1px solid gray;
  border-radius: 5px;
}

.info-btn > span {
  display: inline-block;
  padding: 3px 12px;
}

.info-btn > span:first-of-type{
  border-right: 1px solid gray;
}
